.hw-contact__form
{
    width: 50%;
}

.hw-contact__introduction{
    color: white;
}

.hw-contact__inline{
    display: inline-block;
}


.hw-contact-form__name,
.hw-contact-form__email,
.hw-contact-form__message
{
    font-size: 1.2em;

    width: 100%;
    margin-bottom: 30px;
    padding: 3px;

    color: white;
    border: none;
    border-bottom: 2px solid #e8a95b;
    outline: none;
    background: transparent;
    font-family: inherit;
}

.hw-contact-form__name::-webkit-input-placeholder,
.hw-contact-form__email::-webkit-input-placeholder,
.hw-contact-form__message::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 0;

    color: white;
}

.hw-contact-form__name::-moz-placeholder,
.hw-contact-form__email::-webkit-input-placeholder,
.hw-contact-form__message::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 0;

    color: white;
}

.hw-contact-form__name:-moz-placeholder,
.hw-contact-form__email::-webkit-input-placeholder,
.hw-contact-form__message::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 0;

    color: white;
}

.hw-contact-form__name:-ms-input-placeholder,
.hw-contact-form__email::-webkit-input-placeholder,
.hw-contact-form__message::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 0;

    color: white;
}

.hw-contact-form__name:focus::-webkit-input-placeholder,
.hw-contact-form__email:focus::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 1000px;
}

.hw-contact-form__name:focus::-moz-placeholder,
.hw-contact-form__email:focus::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 1000px;
}

.hw-contact-form__name:focus:-moz-placeholder,
.hw-contact-form__email:focus::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 1000px;
}

.hw-contact-form__name:focus:-ms-input-placeholder,
.hw-contact-form__email:focus::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 1000px;
}

.hw-contact-form__btn{
    padding: 10px 40px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 25px;
    color: #7f7d79;
    margin-bottom: 25px;
    min-width: 40%;
}