@media(max-width: 880px){

    /* WIDTH */

    .hw-header__flex-container{
        flex-wrap: wrap-reverse;
    }

    .hw-header__header-img{
        width: 100%;
    }

    .hw-header__header-represent{
        width: 100%;
    }

    .hw-about-author__character{
        width: 100%;
    }

    .hw-about-author__advantages{
        width: 100%;
    }

    .hw-skills__image{
        width: 50%;
    }

    .hw-skills__skills{
        width: 50%;
    }

    .hw-advantages__item{
        width: 100%;
    }

    .hw-experience__flex-container{
        flex-wrap: wrap-reverse;
    }

    .hw-experience__img{
        width: 100%;
    }

    .hw-experience__desc{
        width: 100%;
    }

    .hw-education__img{
        width: 100%;
        display: none;
        height: 320px;
    }

    .hw-education__desc{
        width: 100%;
    }

    .hw-contact__form{
        width: 100%;
    }

    .hw-contact__flex-container{
        width: 100%;
    }

    .hw-contact__img{
        width: 50%;
    }

    .hw-contact__address{
        width: 50%;
    }

    /* MARGIN PADDING HEIGHT */

    .hw-header__title-area{
        margin-top: 100px;
    }

    .title-area__button{
        margin-bottom: 80px;
    }

    .hw-header__header-represent{
        min-height: auto;
    }

    .hw-header__header-img{
        min-height: 310px;
    }

    .hw-experience__img{
        height: 300px;
    }

    .hw-navigation__list
    {

        justify-content: center;
        margin-top: 40px;
        margin-left: 0px;


    }

 /* FONT */

    .hw-summary__icon-star {
        font-size: 30px;
    }

    .hw-summary__title {
        font-size: 2em;
    }



}

@media(max-width: 500px) {

    .hw-skills__image {
        width: 100%;
    }

    .hw-skills__skills {
        width: 100%;
    }

    .hw-advantages__flex-container {
        width: 100%;
    }
    .hw-advantages__item{
        width: 100%;
    }

    .hw-experience__img {
        width: 100%;
        min-height: 300px;
    }

    .hw-experience__desc {
        width: 100%;
    }

    .hw-education__img {
        width: 100%;
        display: none;
        min-height: 320px;
    }

    .hw-education__desc {
        width: 100%;
    }

    .hw-contact__form {
        width: 100%;
    }

    .hw-contact__flex-container {
        width: 100%;
    }

    .hw-contact__img {
        width: 100%;
        min-height: 350px;
    }

    .hw-contact__address {
        width: 100%;
    }

    /* FONT */
    .hw-summary__icon-star {
        font-size: 20px;
    }

    .hw-summary__title {
        font-size: 1.5em;
    }

}