html
{
    font-family: 'Mada', sans-serif;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;
}

.hw-container
{
    width: 80%;
    margin-left: 10%;
}

.hw-container-narrow
{
    width: 60%;
    margin-left: 20%;
}

.hw-header
{
    overflow: auto;

    width: 100%;
    height: auto;
}

.hw-flex-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;
}

.hw-header__header-img
{
    width: 50%;
    height: 820px;

    background: url('../images/5.jpg') center/cover no-repeat;
}

.hw-header__header-represent
{
    width: 50%;
    height: 820px;

    background-color: #f1e1d8;
}



.hw-navigation__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 40px;
    margin-left: 100px;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;
}

.hw-navigation__list-item
{
    margin-right: 20px;
    margin-bottom: 20px;
}

.hw-navigation__link
{
    text-decoration: none;
    text-transform: uppercase;

    color: #5d696e;
}

.hw-navigation__link--active
{
    color: #dab35f;
}

.hw-navigation__link:hover
{
    text-decoration: none;

    color: #dab35f;
}

.hw-header__title-area
{
    margin-top: 190px;
    margin-left: 40px;
}

.title-area__upper-title
{
    font-size: .7em;

    margin-bottom: 30px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #aea3a3;
}

.title-area__bold
{
    font-weight: 500;

    color: black;
}

.title-area__title
{
    font-size: 2em;
    font-weight: 300;

    margin-bottom: 30px;

    color: #5d696e;
}

.title-area__subtitle
{
    font-size: .9em;
    line-height: 17px;

    margin-bottom: 60px;

    color: #90a4ab;
}

.hw-button-transparent
{
    font-size: .8em;
    font-weight: 700;

    padding: 10px 30px;

    cursor: pointer;
    text-transform: uppercase;

    border: 3px solid black;
    border-radius: 15px;
    background-color: transparent;
}

.hw-about-author__character
{
    width: 50%;
    min-height: 320px;

    background-color: #fffeff;
}

.hw-about-author__advantages
{
    width: 50%;
    min-height: 320px;
}

.hw-about-author__title
{
    font-size: 1.8em;

    margin-top: 50px;
    margin-left: 30px;
}

.hw-about-author__subtitle
{
    font-size: .8em;

    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 30px;

    color: #e9ce74;
}

.hw-about-author__text
{
    font-size: .8em;

    margin-top: 30px;
    margin-left: 30px;

    color: #90a4ab;
}

.hw-skills__image
{
    width: 50%;
    height: 320px;

    background: url('../images/1.jpg') top/cover no-repeat;
}

.hw-skills__skills
{
    width: 50%;
    min-height: 320px;

    background-color: #e4ad59;
}

.hw-skills__title
{
    font-size: 2.0em;
    font-weight: 500;

    margin-top: 50px;
    margin-left: 50px;

    color: white;
}

.hw-skills__subtitle
{
    font-size: .8em;
    font-weight: 500;

    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 50px;

    color: white;
}

.hw-skill__title
{
    overflow: hidden;

    width: 80%;
    margin-left: 10%;
}

.hw-skill__header
{
    font-weight: 600;

    float: left;
}

.hw-skill__percentage
{
    font-weight: 600;

    float: right;

    color: white;
}

.hw-skill__row
{
    position: relative;

    width: 80%;
    height: 3px;
    margin-top: 10px;
    margin-left: 10%;

    background-color: white;
}

.hw-skill__row:after
{
    position: absolute;

    width: 90%;
    height: 3px;

    content: '';

    background-color: black;
}

.hw-skills__skill
{
    margin-bottom: 15px;
}

.hw-advantages__flex-container
{
    width: 50%;
}

.hw-advantages__flex-container--reverse
{
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

/*.hw-skills__flex-container--reverse{*/
/*flex-wrap: wrap-reverse;*/
/*}*/

.hw-advantages__item
{
    width: 50%;
    min-height: 340px;

    text-align: center;

    color: white;
}

.hw-advantages__item:nth-child(1)
{
    background-color: #e4ad59;
}

.hw-advantages__item:nth-child(2)
{
    background-color: #ea714d;
}

.hw-advantages__item--another-color:nth-child(1)
{
    background-color: #171517;
}

.hw-advantages__item--another-color:nth-child(2)
{
    color: black;
    background-color: #fffeff;
}

.hw-advantages__icon-container
{
    margin-top: 50px;
    margin-bottom: 50px;

    text-align: center;
}

.hw-advantages__icon
{
    font-size: 60px;

    margin-top: 50px;
    margin-bottom: 50px;
}

.hw-advantages__title
{
    font-size: 1.2em;

    margin-bottom: 30px;
}

.hw-advantages__desc
{
    font-size: .9em;
    line-height: 20px;
}

.hw-experience__img
{
    width: 50%;
    height: 385px;

    background: url('../images/4.jpg') center/cover no-repeat;
}

.hw-experience__desc
{
    width: 50%;
    min-height: 385px;

    background-color: #ea714d;
}

.hw-introduction__container
{
    color: white;
}

.hw-introduction__title
{
    font-size: 2em;

    margin-top: 50px;
    margin-bottom: 20px;
}

.hw-introduction__desc
{
    margin-bottom: 60px;
}

.hw-introduction__subtitle
{
    margin-bottom: 50px;
}

.hw-experience-list
{
    color: white;
}

.hw-experience-list__item
{
    margin-bottom: 30px;
}

.hw-experience-list__laptop
{
    font-size: 50px;

    float: left;

    margin-right: 30px;
}

.hw-experience-list__job
{
    font-size: 1.2em;

    display: inline-block;

    margin-bottom: 15px;
}

.hw-experience-list__date
{
    font-size: 1em;
    font-weight: 700;

    display: inline-block;

    color: #6d4330;
}

.hw-experience-list__desc
{
    font-size: .9em;
    line-height: 20px;
}

.hw-education__desc
{
    width: 50%;
    height: 445px;

    background-color: #e4ad59;
}

.hw-education__img
{
    width: 50%;
    height: 445px;

    background: url('../images/3.jpg') center no-repeat;
}

.hw-summary
{
    height: 480px;

    text-align: center;

    color: white;
    background: -webkit-linear-gradient(
            rgba(0, 0, 0, .75),
            rgba(0, 0, 0, .75)
    ), url('../images/6.jpg') no-repeat center / cover;
}

.hw-summary__icon-star
{
    font-size: 40px;

    margin-top: 110px;
}

.hw-summary__title
{
    font-size: 2.5em;

    margin-top: 40px;
    margin-bottom: 60px;
}

.hw-summary__subtitle
{
    color: #7f7d79;
}

.hw-contact__form
{
    width: 50%;
}

.hw-contact-form__name,
.hw-contact-form__email,
.hw-contact-from__message
{
    font-size: 1.2em;

    width: 100%;
    margin-bottom: 30px;
    padding: 3px;

    color: white;
    border: none;
    border-bottom: 2px solid #e8a95b;
    outline: none;
    background: transparent;
}

.hw-contact-form__name::-webkit-input-placeholder,
.hw-contact-form__email::-webkit-input-placeholder,
.hw-contact-from__message::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 0;

    color: white;
}

.hw-contact-form__name::-moz-placeholder,
.hw-contact-form__email::-webkit-input-placeholder,
.hw-contact-from__message::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 0;

    color: white;
}

.hw-contact-form__name:-moz-placeholder,
.hw-contact-form__email::-webkit-input-placeholder,
.hw-contact-from__message::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 0;

    color: white;
}

.hw-contact-form__name:-ms-input-placeholder,
.hw-contact-form__email::-webkit-input-placeholder,
.hw-contact-from__message::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 0;

    color: white;
}

.hw-contact-form__name:focus::-webkit-input-placeholder,
.hw-contact-form__email:focus::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 1000px;
}

.hw-contact-form__name:focus::-moz-placeholder,
.hw-contact-form__email:focus::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 1000px;
}

.hw-contact-form__name:focus:-moz-placeholder,
.hw-contact-form__email:focus::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 1000px;
}

.hw-contact-form__name:focus:-ms-input-placeholder,
.hw-contact-form__email:focus::-webkit-input-placeholder
{
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    text-indent: 1000px;
}


.hw-contact__flex-container
{
    width: 50%;
}

.hw-contact__flex-container--white-text
{
    color: white;
}

.hw-contact__form
{
    width: 50%;
    min-height: 610px;

    background-color: coral;
}

.hw-contact__img
{
    width: 50%;
    height: 610px;

    background: url('../images/2.jpg') center/cover no-repeat;
}

.hw-contact__address
{
    width: 50%;
    min-height: 610px;

    background-color: black;
}

.hw-contact__title
{
    font-size: 1.5em;

    margin-top: 50px;
    margin-bottom: 30px;
}

.hw-contact__subtitle
{
    margin-bottom: 50px;

    color: #7f7d79;
}

.hw-connection__title
{
    font-size: 2em;

    margin-bottom: 30px;
}

.hw-connection-icons
{
    color: #7f7d79;
}

.hw-connection__icon-item
{
    margin-bottom: 25px;

    color: #7f7d79;
}

.hw-phone__number
{
    margin-left: 7px;
}

.hw-email__email
{
    margin-left: 7px;

    text-decoration: none;

    color: #e3af5c;
}

.hw-site__site
{
    margin-left: 7px;

    text-decoration: none;

    color: #e3af5c;
}

.hw-phone__phone
{
    font-size: 20px;

    color: #7f7d79;
}


.hw-footer
{
    height: 380px;

    text-align: center;

    color: #7f7d79;
}

.hw-footer__copy
{
    margin-top: 150px;
}

.hw-footer__author-link
{
    text-decoration: none;

    color: #e3af5c;
}

.hw-footer__feedback
{
    margin-top: 60px;
}

.hw-feedback__icons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
}

.hw-feedback__icon
{
    display: inline-block;

    margin-left: 40px;
}

.hw-feedback__link
{
    font-size: 1.2em;

    color: inherit;
}