html
{
    font-family: 'Mada', sans-serif;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;

    font-size: 16px;
}

div[class^="hw"] {
     /*outline: 1px solid green;*/
 }






























