<!doctype html>
<html lang="en" ng-app="heroApp">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link rel="stylesheet" href="style.css">
   <script src="ang.js"></script>
</head>
<body>

     


<div ng-controller="MainCtrl as $ctrl">
      <div class="container">
            <table  class="center">
                  <tr>
                        <th >Описание</th>
                        <th >Переменная </th>
                        <th >Расчет</th>
                        <th >Значение</th>
                  </tr>
                  <tr class="z">
                        <td class="u-30">Расход воды на отопление, вентиляцию и конденсацию воздуха </td>
                        <td class="u-10">Q<sub>ов</sub>
                        </td>
                        <td class="u-50"></td>
                        <td class="u-10">
                              <input placeholder="Введите значение" type="number" ng-model="q_ov">
                              <div>
                                    <span ng-click="sumQov(q_ov)" class="plus">+</span> 
                                    <span ng-click="clearSumQov()" class="clear">очистить</span>
                              </div>
                              <div class="counter">&#8721 ( {{sum_q_ov}} )</div>
                        </td>
                  </tr>
                  <tr class="z">
                        <td>Расход теплоты с паром и горячей водой на технологические нужды</td>
                        <td>Q<sub>т</sub></td>
                        <td></td>
                        <td>
                              <input placeholder="Введите значение" type="number" ng-model="q_t">
                              <div>
                                    <span ng-click="sumQt(q_t)" class="plus">+</span> 
                                    <span ng-click="clearSumQt()" class="clear">очистить</span>
                              </div>
                              <div class="counter">&#8721 ( {{sum_q_t}} )</div>
                        </td>
                  </tr>
                  <tr class="r">
                        <td>Cуммарная производительность отопительно-производственной котельной</td>
                        <td>Q</td>
                        <td>Q<sub>ов</sub> + Q<sub>т</sub></td>
                        <td class="b">{{calcQ(sum_q_ov, sum_q_t)}}</td>
                  </tr>
                  <tr class="z">
                        <td>Расход пара на технологические нужды</td>
                        <td>D<sub>т</sub></td>
                        <td></td>
                        <td><input placeholder="Введите значение" type="number" ng-model="d_t"></td>
                  </tr>
                  <tr class="z">
                        <td>Расход теплоты с паром и горячей водой на технологические нужды</td>
                        <td>D<sub>ов</sub></td>
                        <td></td>
                        <td><input placeholder="Введите значение" type="number" ng-model="d_ov"></td>
                  </tr>
                  <tr class="z">
                        <td>Расход пара на горячее водоснабжение</td>
                        <td>D<sub>гв</sub></td>
                        <td></td>
                        <td><input placeholder="Введите значение" type="number" ng-model="d_gv"></td>
                  </tr>
                  <tr class="r">
                        <td>Суммарный расход пара на производство и теплоснабжение</td>
                        <td>D</td>
                        <td>D<sub>т</sub> + D<sub>ов</sub> + D<sub>гв</sub></td>
                        <td class="b">{{calcD(d_t, d_ov, d_gv)}}</td>
                  </tr>
                  <tr class="r">
                        <td>Потери пара внутри котельной</td>
                        <td>D<sub>пот</sub></td>
                        <td>0.02 &middot D</td>
                        <td  class="b">{{calcDpot(d)}}</td>
                  </tr>
                  <tr class="z">
                        <td>Расход на деаэрацию</td>
                        <td>D<sub>d</sub></td>
                        <td></td>
                        <td><input placeholder="Введите значение" type="number" ng-model="d_d"></td>
                  </tr>
                  <tr class="z">
                        <td>Расход пара на подогрев сырой воды</td>
                        <td>D<sub>св</sub></td>
                        <td></td>
                        <td><input placeholder="Введите значение" type="number" ng-model="d_sv"></td>
                  </tr>
                  <tr class="r">
                        <td>Полное количество пара, вырабатываемого котельной</td>
                        <td>D<sub>(2)</sub></td>
                        <td>D + D<sub>св</sub> + D<sub>d</sub> + D<sub>пот</sub></td>
                        <td class="b">{{calcDfull(d, d_sv, d_d, d_pot)}}</td>
                  </tr>
                  <tr class="z">
                        <td>Потери пара внутри котельной</td>
                        <td>D<sub>epd</sub></td>
                        <td></td>
                        <td><input placeholder="Введите значение" type="number" ng-model="d_epd"></td>
                  </tr>
                  <tr class="z">
                        <td>Величина продувки</td>
                        <td>P<sub>пр</sub></td>
                        <td></td>
                        <td><input placeholder="Введите значение" type="number" ng-model="p_pr"></td>
                  </tr>
                  <tr class="r">
                        <td>???</td>
                        <td>G<sub>пр</sub></td>
                        <td></td>
                        <td  class="b">{{calcGpr(p_pr)}}</td>
                  </tr>
                  <tr class="z">
                        <td>Энтальпия котловой воды при давлении в котле</td>
                        <td>i'<sub>1</sub></td>
                        <td></td>
                        <td><input placeholder="Введите значение" type="number" ng-model="i1"></td>
                  </tr>
                  <tr class="z">
                        <td>Энтальпия котловой воды при добавлении в расширителе</td>
                        <td>i'<sub>2</sub></td>
                        <td></td>
                        <td><input placeholder="Введите значение" type="number" ng-model="i2"></td>
                  </tr>
                  <tr class="z">
                        <td>Энтальпия пара при добавлении в расширителе</td>
                        <td>i''<sub>н</sub></td>
                        <td></td>
                        <td><input placeholder="Введите значение" type="number" ng-model="i_n"></td>
                  </tr>
                  <tr class="z">
                        <td>Доля рециркулирующих газов</td>
                        <td>μ<sub>под</sub></td>
                        <td></td>
                        <td><input placeholder="Введите значение" type="number" ng-model="u_pod"></td>
                  </tr>
                  <tr class="r">
                        <td>Количества пара , которое можно получить из расширителя</td>
                        <td>D<sub>пр</sub></td>
                        <td> 
                              G<sub>пр</sub> &#215 ((i'<sub>1</sub> - i'<sub>2</sub>) / (x &#215 (i''<sub>н</sub> - i'<sub>2</sub>))
                              &#215μ<sub>под</sub>
                              )
                        </td>
                        <td  class="b">{{calcDpr(i1, i2, i_n, u_pod)}}</td>
                  </tr>
                  <tr class="r">
                        <td>??</td>
                        <td>G'<sub>пр</sub></td>
                        <td>D<sub>пр</sub> + G<sub>пр</sub></td>
                        <td  class="b">{{caclGTouchPr()}}</td>
                  </tr>
                  <tr class="z">
                        <td>Расход пара на продувку</td>
                        <td>D'<sub>пр</sub></td>
                        <td></td>
                        <td><input placeholder="Введите значение" type="number" ng-model="dTouchPr"></td>
                  </tr>
                  <tr class="r">
                        <td>Количество питательной воды, поступающей в котлы</td>
                        <td>G<sub>пит</sub></td>
                        <td>&#8721 D + D'<sub>пр</sub></td>
                        <td  class="b">{{calcGPit(dTouchPr)}}</td>
                  </tr>
                  <tr class="z">
                        <td>Количества пара из расширителя</td>
                        <td>G<sub>подп</sub></td>
                        <td></td>
                        <td><input placeholder="Введите значение" type="number" ng-model="g_podp"></td>
                  </tr>
                  <tr class="r">
                        <td>Общее количество воды на выходе из деаэратора</td>
                        <td>G<sub>д</sub></td>
                        <td>G<sub>пит</sub> + G<sub>подп</sub></td>
                        <td  class="b">{{calcGd(g_podp)}}</td>
                  </tr>
                  <tr class="r">
                        <td>???</td>
                        <td>D<sub>вып</sub></td>
                        <td>0.04 &#215 G<sub>д</sub></td>
                        <td  class="b">{{calcDvip()}}</td>
                  </tr>
                  <tr class="z">
                        <td>Производительность воды</td>
                        <td>G<sub>2</sub></td>
                        <td></td>
                        <td><input placeholder="Введите значение" type="number" ng-model="g_two"></td>
                  </tr>
                  <tr class="r">
                        <td>Производительность химводоподготовки </td>
                        <td>G<sub>хво</sub></td>
                        <td>
                              G<sub>2</sub> &#215  G'<sub>пр</sub> &#215 G<sub>подп</sub> &#215 D<sub>пот</sub>&#215 D<sub>вып</sub>
                        </td>
                        <td  class="b">{{calcGHvo(g_two, g_podp)}}</td>
                  </tr>
                  <tr class="z">
                        <td>Коэффициент, умножаемый на производительность водоподготовки</td>
                        <td>k</td>
                        <td>
                             
                        </td>
                        <td><input placeholder="Введите значение" type="number" ng-model="k"></td>
                  </tr>
                  <tr class="r">
                        <td>Расход сырой воды</td>
                        <td>G <sub>с.в.</sub></td>
                        <td>
                              k &#215 G<sub>хво</sub>
                        </td>
                        <td  class="b">{{calcGSv(k)}}</td>
                  </tr>
                  <tr class="z">
                        <td>Температура сырой воды до подогревателя</td>
                        <td>t' <sub>св</sub></td>
                        <td>
                              
                        </td>
                        <td><input placeholder="Введите значение" type="number" ng-model="t_l_sv"></td>
                  </tr>
                  <tr class="z">
                        <td>Температура сырой воды после подогревателя</td>
                        <td>t'' <sub>св</sub></td>
                        <td>
                              
                        </td>
                        <td><input placeholder="Введите значение" type="number" ng-model="t_ll_sv"></td>
                  </tr>
                  <tr class="z">
                        <td>Энтальпия греющего пара</td>
                        <td>i''</td>
                        <td>
                              
                        </td>
                        <td><input placeholder="Введите значение" type="number" ng-model="i_ll"></td>
                  </tr>
                  <tr class="z">
                        <td>Энтальпия конденсата</td>
                        <td>i<sub>к</sub></td>
                        <td>
                              
                        </td>
                        <td><input placeholder="Введите значение" type="number" ng-model="i_k"></td>
                  </tr>
                  <tr class="r">
                        <td>Количество пара, расходуемого в теплообменнике сырой воды</td>
                        <td>D <sub>св</sub></td>
                        <td>
                              ( G<sub>св</sub> ⋅ ( t''<sub>св</sub> - t'<sub>св</sub> ) ) / 
                              ( ( i'' - i <sub>к</sub>) ⋅ μ<sub>под</sub> ) 
                        </td>
                        <td  class="b">{{calcDSv(t_ll_sv, t_l_sv, i_ll, i_k, u_pod)}}</td>
                  </tr>

                  <tr class="z">
                        <td>Энтальпия выпарки</td>
                        <td>t'' <sub>вып</sub></td>
                        <td>
                             
                        </td>
                        <td><input placeholder="Введите значение" type="number" ng-model="i_ll_vip"></td>
                  </tr>

                  <tr class="r">
                        <td>Температура воды после охладителя выпара из деаэратора</td>
                        <td>t''' <sub>св</sub></td>
                        <td>
                              t''<sub>с.в</sub> + ( ( D<sub>вып</sub> ⋅ ( i''<sub>вып</sub> - 
                              i<sub>к</sub> ) / ( G<sub>хво</sub> ⋅ μ <sub>под</sub> ) )
                        </td>
                        <td  class="b">{{calcTlllsv(t_ll_sv, i_ll_vip, i_k, u_pod)}}</td>
                  </tr>

                  <tr class="z">
                        <td>Энтальпия на даэрацию</td>
                        <td>i' <sub>д</sub></td>
                        <td>
                  
                        </td>
                        <td><input placeholder="Введите значение" type="number" ng-model="i_l_d"></td>
                  </tr>

                  <tr class="z">
                        <td>Энтальпия на даэрацию</td>
                        <td>i'' <sub>д</sub></td>
                        <td>
                        
                        </td>
                        <td><input placeholder="Введите значение" type="number" ng-model="i_ll_d"></td>
                  </tr>

                  <tr class="z">
                        <td>Тепмература выпарки</td>
                        <td>t'' <sub>вып</sub></td>
                        <td>
                              
                        </td>
                        <td><input placeholder="Введите значение" type="number" ng-model="t_ll_vip"></td>
                  </tr>

                  <tr class="z">
                        <td>Энтальпия конденсата</td>
                        <td>i'' <sub>к</sub></td>
                        <td>
                                    
                        </td>
                        <td><input placeholder="Введите значение" type="number" ng-model="i_ll_k"></td>
                  </tr>

                  <tr class="z">
                        <td>Значения расходов пара</td>
                        <td>&#8721 G<sub>i</sub></td>
                        <td>
                             
                        </td>
                        <td>
                              <input placeholder="Введите значение" type="number" ng-model="g_i">
                              <div>
                                    <span ng-click="sumGi(g_i)" class="plus">+</span> 
                                    <span ng-click="clearSumGi()" class="clear">очистить</span>
                              </div>
                              <div class="counter">&#8721 ( {{sum_g_i}} )</div>  
                        </td>
                  </tr>

                  <tr class="r">
                        <td>Расход пара на деаэратор</td>
                        <td>D <sub>д</sub></td>
                        <td>  
                              ( G<sub>д</sub> ⋅ i'<sub>д</sub> + D <sub>вып</sub> ⋅ t''<sub>вып</sub> ) / 
                              i''<sub>д</sub>  - ( ΣG <sub>i</sub> + D <sub>пр</sub> ⋅ i''<sub>к</sub> ) / i''<sub>д</sub>
                        </td>
                        <td  class="b">{{calcDD2(i_l_d, t_ll_vip, i_ll_d, sum_g_i, i_ll_k, i_ll_d)}}</td>
                  </tr>
      
            </table>
            
      </div>
     
</div>
<script src="main.js"></script>
</body>
</html>